


.google-logo{
	width:10px; 
	position: absolute;
	top: 27%;
	left: 43%;
}

.fa-microphone{

	right: 10%;
	position: absolute;

	top: 38%;
	right: 38%;
}


 
  .bar:hover{
	box-shadow: 1px 1px 8px 1px #dcdcdc;
  }
  .bar:focus-within{
	box-shadow: 1px 1px 8px 1px #dcdcdc;
	outline:none;
  }
.searchbar{
	

	margin:0 auto;
	
	border-radius:30px;
	border:1px solid #dcdcdc;
	position: absolute;
	top: 37%;
	right: 37%;
	width: 25%;
	height: 4%;
	

	
}
.divider{
    width:5px;
    height:auto;
    display:inline-block;
}
.buttons{
	margin-top:50px;
  }


.buttons{
	
	border:none;
	
	font-size:15px;
	padding: 10px 20px;
	margin-left:43%;
	margin-top: 17%;
	

}

ul {
	list-style-type: none;
	overflow: hidden;
  }
  
  li {
	float: right;
  }
  
  li a {
	color: #000;
	display: block;
	text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-size:14px;
  }
  li a:hover {
	text-decoration: underline;
  }

.signbutton{
	background-color: #1a73e8;
	color: #fff;
	border:none;
	border-radius:3px;
	padding:7px 10px;
	position:relative;
	bottom:7px;
	font-weight:bold;
  }

.left{
	color: #000;
	float: left;
	font-size:14px;
		text-align: center;
	padding: 10px 10px;
	text-decoration: none;
	font-size:14px;
	
}


	
